.container#introduction
  .row
    .col-sm-8.col-sm-offset-2.well.big-up
      Welcome to Middle School Science Rocks! Science can be a hard subject
      to grasp for middle school science students. We hope that you find our
      notes, diagrams, and Youtube videos helpful.

      .row
        .col-xs-offset-8.col-xs-1= image_tag 'authors-ron.jpg'
        .col-xs-3
          %div Ron Derewecki
          %div Science Educator
.container#home-boxes
  .row
    %a.col-sm-offset-1.col-sm-4.electricity{ href: '/lessons/electricity' }
      .title Electricity
    %a.col-sm-offset-2.col-sm-4.matter{ href: '/lessons/matter' }
      .title Matter
      .credit Luc Viatour / www.Lucnix.be
  .row
    %a.col-sm-offset-1.col-sm-4.rock_cycle{ href: '/lessons/rock_cycle' }
      .title Rock Cycle
    %a.col-sm-offset-2.col-sm-4.weather_atmosphere{ href: '/lessons/weather_atmosphere' }
      .title Weather and Atmosphere
  .row
    %a.col-sm-offset-1.col-sm-4.igneous_rock{ href: '/lessons/igneous_rock' }
      .title Igneous Rock
    %a.col-sm-offset-2.col-sm-4.metamorphic_rock{ href: '/lessons/metamorphic_rock' }
      .title Metamorphic Rock
