.container#introduction
  .row
    .col-sm-8.col-sm-offset-2.well.big-up
      Welcome to Middle School Science Rocks! Science can be a hard subject
      to grasp for middle school science students. We hope that you find our
      notes, diagrams, and Youtube videos helpful.

      .signature
        .pull-right{ style: 'margin-left: 5px;' }
          %div Ron Derewecki
          %div Science Educator, 1966—Present
        .pull-right= image_tag 'authors-ron.jpg'

.container#home-boxes
  .row
    %a.col-sm-offset-1.col-sm-4.lesson-box.electricity{ href: '/lessons/electricity' }
      .title Electricity
    %a.col-sm-offset-2.col-sm-4.lesson-box.matter{ href: '/lessons/matter' }
      .title Matter

  .row
    %a.col-sm-offset-1.col-sm-4.lesson-box.rock_cycle{ href: '/lessons/rock_cycle' }
      .title Rock Cycle
    %a.col-sm-offset-2.col-sm-4.lesson-box.weather_atmosphere{ href: '/lessons/weather_atmosphere' }
      .title Weather Atmosphere

  .row
    %a.col-sm-offset-1.col-sm-4.lesson-box.igneous_rock{ href: '/lessons/igneous_rock' }
      .title Igneous Rock
    %a.col-sm-offset-2.col-sm-4.lesson-box.metamorphic_rock{ href: '/lessons/metamorphic_rock' }
      .title Metamorphic Rock

  .row
    %a.col-sm-offset-1.col-sm-4.lesson-box.mineral_identification{ href: '/lessons/mineral_identification' }
      .title Mineral Identification
