.container#introduction
  .row
    .col-sm-8.col-sm-offset-2.well.big-up
      Welcome to Middle School Science Rocks! Science can be a hard subject
      to grasp for middle school science students. We hope that you find our
      notes, diagrams, and Youtube videos helpful.

      .row
        .col-xs-offset-8.col-xs-1= image_tag 'authors-ron.jpg'
        .col-xs-3
          %div Ron Derewecki
          %div Science Educator
.container#home-boxes
  .row
    .col-sm-offset-1.col-sm-4.lesson-box.electricity
      %a{ href: '/lessons/electricity' }
        .title Electricity
    .col-sm-offset-2.col-sm-4.lesson-box.matter
      %a{ href: '/lessons/matter' }
        .title Matter

  .row
    .col-sm-offset-1.col-sm-4.lesson-box.rock_cycle
      %a{ href: '/lessons/rock_cycle' }
        .title Rock Cycle
    .col-sm-offset-2.col-sm-4.lesson-box.weather_atmosphere
      %a{ href: '/lessons/weather_atmosphere' }
        .title Weather Atmosphere


  .row
    .col-sm-offset-1.col-sm-4.lesson-box.igneous_rock
      %a{ href: '/lessons/igneous_rock' }
        .title Igneous Rock
    .col-sm-offset-2.col-sm-4.lesson-box.metamorphic_rock
      %a{ href: '/lessons/metamorphic_rock' }
        .title Metamorphic Rock

  .row
    .col-sm-offset-1.col-sm-4.lesson-box.mineral_identification
      %a{ href: '/lessons/mineral_identification' }
        .title Mineral Identification
