#navbar {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

  .header {
    margin-left: 0;
    margin-right: 0;
  }
}

.header {
  h1 a, h2 {
    color: #eee;
    text-decoration: none;
    text-shadow: 2px 2px 5px #333;
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
  }

  a:hover {
    color: #ddd;
    text-decoration: none;
  }
}
.header .tagline {
  text-shadow: 2px 2px 5px #333;
}

.header {
  background: url(image_path('header.png'));
  min-height: 140px;

  a {
    color: #eee;

    &:hover {
      text-decoration: none;
    }
  }

  .title {
    a span {
      font-weight: bold;
    }
  }

  ul {
//    line-height: 110px;
    list-style-type: none;
    font-size: 16px;

    li {
      display: inline;
    }
  }
}

.content {
  padding-top: 10px;
}
.well.sidebar-nav {
  position: fixed;
  right: 20px;
  top: 165px;

  ul {
    margin-top: 0;
    li {
      margin-bottom: 5px;
    }
  }
}

footer .container {
  margin: 0;
  width: 100%;
  border-radius: 0;
}
